.product-card__container {
  display: flex;
  border: 2px #d1d1d1 solid;
  align-items: center;
  border-radius: 3px;
  gap: 1rem;

  .product-card__image-container {
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-self: stretch;

    .product-card__image {
      mix-blend-mode: multiply;
      padding: 0.5rem;
      height: 5rem;
      width: auto;
      aspect-ratio: 1/1;
      object-fit: scale-down;
      margin: auto;
    }
  }

  .product-card__content {
    display: flex;
    align-items: center;
    min-width: 0;
    margin-inline-end: 0.5rem;

    .product-card__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 0;

      .product-card__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.product-card__container-large {
  flex-direction: column;
  align-items: normal;
  width: 18rem;
  gap: 0rem;

  .product-card__image-container {
    .product-card__image {
      height: 9rem;
    }
  }

  .product-card__content {
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    width: unset;
    margin-inline-end: 0;

    .product-card__details {
      flex-basis: 75%;
    }

    .product-card__add-to-card {
      align-self: flex-start;
      position: relative;
    }

    .product-card__add-to-card.clicked {
      &::after {
        font-family: Barlow;
        content: "✓";
        background-color: #c3c3c3;
        padding: 4px 8px;
        text-align: center;
        position: absolute;
        inset: 0;
        border-radius: 3px;
      }
    }
  }
}
