.round-button-noborder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: none;
  box-sizing: content-box;
  background-color: white;

  &:hover svg {
    stroke: #c3c3c3;
  }

  &:active svg {
    stroke: #a0a0a0;
  }
}

svg {
  stroke: #d1d1d1;
  stroke-width: 3;
  overflow: visible;
}
