<div
  class="product-card__container"
  [class.product-card__container-large]="variant === 'large'"
>
  <img
    [attr.src]="product.image"
    [attr.alt]="imageAltAttr"
    class="product-card__image"
  />
  <div class="product-card__content">
    <div class="product-card__details">
      <app-heading size="medium" class="product-card__title">{{
        product.title
      }}</app-heading>
      <app-heading size="small">{{ product.price }}</app-heading>
    </div>
    <button *ngIf="variant === 'large'" class="product-card__add-to-card">
      Add to cart
    </button>
  </div>
</div>
