<section class="products-cart__container">
  <app-heading>Cart</app-heading>
  <ul
    *ngIf="(cartItems$ | async)?.length; else emptyCart"
    class="products-cart__items"
  >
    <li
      *ngFor="
        let kv of groupedCartItems$ | async | keyvalue
      "
      class="products-cart__list-item"
    >
      <app-product-card
        [product]="kv.key"
      ></app-product-card>
      <div
        *ngIf="kv.value > 1"
        class="products-cart__list-item-count"
      >
        x{{ kv.value }}
      </div>
    </li>
  </ul>

  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>

  <span
    *ngIf="(cartItems$ | async)?.length"
    class="products-cart__total-items"
  >
    {{ (cartItems$ | async)?.length }} item{{
      (cartItems$ | async)!.length !== 1 ? "s" : ""
    }}
  </span>

  <app-product-cart-total
    [total]="(totalCartSum$ | async) || 0"
    class="products-cart__total"
  ></app-product-cart-total>

  <a
    routerLink="checkout"
    *ngIf="atShopRoute; else atCheckoutRoute"
  >
    Go To Checkout
  </a>

  <ng-template #atCheckoutRoute>
    <a routerLink="shop">Go To Shop</a>
  </ng-template>
</section>
