<div class="shop__container">
  <app-heading>Products catalogue</app-heading>
  <div
    *ngIf="(spinnerVisibility$ | async) !== 'hide'"
    class="shop__loading"
  >
    <app-spinner></app-spinner>
  </div>
  <div
    id="catalogueContainer"
    [@fadeIn]
    *ngIf="(spinnerVisibility$ | async) === 'hide'"
  >
    <div class="shop__catalogue-controls">
      <app-product-category-tabs
        [productCategories]="
          (productCategories$ | async) || emptyMap
        "
        (tabClicked)="setCategoryFilter($event)"
      ></app-product-category-tabs>
      <app-product-keyword-filter
        [selectedCategory]="(categoryFilter$ | async) || ''"
        (queryChanged)="setKeywordFilter($event)"
      >
      </app-product-keyword-filter>
    </div>
    <app-products-catalogue
      [products]="
        (paginatedCatalogueProducts$ | async) || []
      "
      class="shop__catalogue"
    ></app-products-catalogue>
    <app-page-navigator
      [totalItems]="(numFilteredProducts$ | async) || 0"
      [pageSize]="pageSize"
      (pageChange)="setCurrentPage($event)"
    ></app-page-navigator>
  </div>
</div>
