<div class="shop__container">
  <app-heading>Products catalogue</app-heading>
  <div
    *ngIf="(loadingProgress$ | async) !== 'hide'"
    class="shop__loading"
  >
    <app-spinner></app-spinner>
  </div>
  <div
    *ngIf="(loadingProgress$ | async) === 'hide'"
    class="shop__catalogue-controls"
  >
    <app-product-category-tabs
      [productCategories]="
        (productCategories$ | async) || emptyMap
      "
      (tabClicked)="setCategoryFilter($event)"
    ></app-product-category-tabs>
    <!-- TODO use [(queryChanged)] to pass an initial value for query i.e. to load search from URL params-->
    <app-product-keyword-filter
      [selectedCategory]="(categoryFilter$ | async) || ''"
      (queryChanged)="setKeywordFilter($event)"
    >
    </app-product-keyword-filter>
    <app-products-catalogue
      [products]="
        (paginatedCatalogueProducts$ | async) || []
      "
      class="shop__catalogue"
    ></app-products-catalogue>
    <app-page-navigator
      [totalItems]="
        (catalogueProducts$ | async)?.length || 0
      "
      [pageSize]="pageSize"
      (pageChange)="setCurrentPage($event)"
    ></app-page-navigator>
  </div>
</div>
