.products-cart__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.products-cart__item-list {
  padding: 0;
}

.products-cart__item {
  list-style: none;
}

.products-cart__total {
  align-self: flex-end;
}
