<main class="checkout__container">
  <app-heading>Checkout</app-heading>

  <em>Please enter your personal details</em>

  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit()"
    class="checkout__form"
  >
    <input
      class="checkout__required-input"
      id="first-name"
      type="text"
      formControlName="firstName"
      placeholder="First name"
    />

    <input
      class="checkout__required-input"
      id="last-name"
      type="text"
      formControlName="lastName"
      placeholder="Last name"
    />

    <input
      class="checkout__required-input"
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email"
    />

    <select
      id="country"
      formControlName="country"
      class="checkout__required-input"
    >
      <option value="" disabled selected>Country</option>
      <option
        *ngFor="let country of countries"
        [value]="country"
      >
        {{ country }}
      </option>
    </select>

    <input
      id="address"
      type="text"
      formControlName="address"
      placeholder="Address"
      class="checkout__required-input"
    />

    <input
      id="zipCode"
      type="input"
      formControlName="zipCode"
      placeholder="Zip Code"
      class="checkout__required-input"
    />

    <input
      id="state"
      type="text"
      formControlName="state"
      placeholder="State"
      [class.checkout__required-input]="stateRequired"
    />

    <div class="checkout__tnc">
      <input
        id="termsAndConditions"
        formControlName="termsAndConditions"
        type="checkbox"
      />
      <label for="termsAndConditions"
        >I agree to this site's terms of use</label
      >
    </div>

    <app-button
      type="submit"
      [disabled]="!checkoutForm.valid"
      class="checkout__submit"
    >
      Submit
    </app-button>
  </form>
</main>
