.products-catalogue__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

@media (max-width: 700px) {
  .products-catalogue__items {
    justify-content: center;
  }
}
