<div class="page-navigator__container">
  <app-prev-next-button
    [disabled]="currentPage <= 0"
    [isPrev]="true"
    (click)="onPageSelected(currentPage - 1)"
  />
  <div class="pages-container">
    <ng-template [ngIf]="lastPage !== 0">
      <button
        class="page-navigator__button"
        *ngIf="currentPage - nrPrevNextPages > 0"
        (click)="onPageSelected(0)"
      >
        1
      </button>
      <button
        class="page-navigator__button default-cursor no-border"
        *ngIf="currentPage - nrPrevNextPages > 1"
      >
        ...
      </button>
      <button
        class="page-navigator__button"
        *ngFor="let prevPage of previousPagesRange"
        (click)="onPageSelected(prevPage)"
      >
        {{ prevPage + 1 }}
      </button>
    </ng-template>
    <button
      class="page-navigator__button page-active default-cursor"
    >
      {{ currentPage + 1 }}
    </button>
    <ng-template [ngIf]="lastPage !== 0">
      <button
        class="page-navigator__button"
        *ngFor="let nextPage of nextPagesRange"
        (click)="onPageSelected(nextPage)"
      >
        {{ nextPage + 1 }}
      </button>
      <button
        class="page-navigator__button default-cursor no-border"
        *ngIf="
          currentPage + nrPrevNextPages + 1 < lastPage - 1
        "
      >
        ...
      </button>
      <button
        class="page-navigator__button"
        *ngIf="currentPage + nrPrevNextPages + 1 < lastPage"
        (click)="onPageSelected(lastPage - 1)"
      >
        {{ lastPage }}
      </button>
    </ng-template>
  </div>
  <app-prev-next-button
    [isPrev]="false"
    (click)="onPageSelected(currentPage + 1)"
    [disabled]="currentPage + 1 >= lastPage"
  />
</div>
