.page-navigator__container {
  padding: 36px 0;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.pages-container {
  display: flex;
}

.page-active {
  font-weight: 900;
  background-color: #d1d1d1;
  color: black;
}

.default-cursor {
  cursor: default;
}

.no-border {
  border-color: transparent;
}

.page-navigator__button {
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  height: 2rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px #d1d1d1 solid;
  color: #a0a0a0;

  &:not(.no-border) {
    &:hover:not(.page-active) {
      border-color: #a0a0a0;
    }
    &:active {
      border-color: #a0a0a0;
      background-color: #a0a0a0;
      color: black;
    }
  }
}

.page-active {
  font-weight: 600;
  background-color: #d1d1d1;
  color: black;
}

.default-cursor {
  cursor: default;
}

.no-border {
  border-color: transparent;
}
