<div class="products__container">
  <div class="products__catalogue-container">
    <app-heading>Products catalogue</app-heading>
    <div class="products__catalogue-controls">
      <app-product-category-tabs
        [productCategories]="
          (productCategories$ | async) || emptyMap
        "
        (tabClicked)="setCategoryFilter($event)"
      ></app-product-category-tabs>
      <!-- TODO use [(queryChanged)] to pass an initial value for query i.e. to load search from URL params-->
      <app-product-keyword-filter
        [selectedCategory]="(categoryFilter$ | async) || ''"
        (queryChanged)="setKeywordFilter($event)"
      >
      </app-product-keyword-filter>
    </div>
    <app-products-catalogue
      [products]="(catalogueProducts$ | async) || []"
      class="products__catalogue"
    ></app-products-catalogue>
    <app-page-navigator
      [totalItems]="
        (catalogueProducts$ | async)?.length || 0
      "
      [pageSize]="pageSize"
    ></app-page-navigator>
  </div>
  <app-products-cart
    class="products__cart"
  ></app-products-cart>
</div>
