<div class="products__container">
  <div class="products__catalogue-container">
    <app-heading>Products catalogue</app-heading>
    <div class="products__catalogue-controls">
      <app-product-category-tabs
        [productCategories]="productCategories"
        (tabClicked)="setCategoryFilter($event)"
      ></app-product-category-tabs>
      <app-product-keyword-filter
        [selectedCategory]="categoryFilter"
      >
      </app-product-keyword-filter>
    </div>
    <app-products-catalogue
      [products]="catalogueProducts"
      (addedToCart)="handleAddedToCartEvent($event)"
      class="products__catalogue"
    ></app-products-catalogue>
  </div>
  <app-products-cart
    [cartItems]="cartItems"
    class="products__cart"
  ></app-products-cart>
</div>
