.products__container {
  display: flex;
  justify-content: space-between;
}

.products__catalogue-container {
  padding: 1rem;

  .products__catalogue {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .products__container {
    flex-direction: column;
  }
}
